.HeroSection {
    display: flex;
    flex-direction: row;
    height: 300px;
}
.HeroImage {
    width: 60%;
    padding-left: 2%;
}

.HeroText {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-inline: 11px;
    width: 30%;
    font-size: 24px;
    margin-left: 10px;
}