.HeroSection {
    display: flex;
    flex-direction: row;
}
.HeroImage {
    width: 48%;
    padding-left: 3%;
}

.HeroText {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-inline: 10px;
    width: 30%;
    font-size: 24px;
}